@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html {
  overflow: hidden;
}

body {
  overflow: scroll;
  color: rgb(var(--foreground-rgb));

  background-color: rgb(var(--background-start-rgb)); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'SF-Med';
  src: url('../../public/sf-med.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Reg';
  src: url('../../public/sf-reg.otf') format('opentype');
}

.ios-widget {
  font-family: 'SF-Med', sans-serif; /* Apply the font to a specific element */
}

.ios-widget-desc {
  font-family: 'SF-Reg', sans-serif; /* Apply the font to a specific element */
}